html, body{
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.link-dark{
    text-decoration: none;
}

.link-dark:hover{
    text-decoration: underline;
}

.card:hover{
    background: rgba(0, 0, 0, 0.05);
}

.card_image{
    width: 100%; 
    height:225px;
    background-size: cover;
    border-top-left-radius: var(--bs-card-border-radius);
    border-top-right-radius: var(--bs-card-border-radius);
}

.card:hover .card_image{
    filter: brightness(95%);
}

.card_banner{
    background-size: cover;
    height: 400px;
}

.card_banner_body{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(28, 28, 28, 0) 30%, rgba(42,42,42,1) 100%);
}

.card_banner:hover{
    filter: brightness(95%);
    background-size: cover;
}